<div class="container-flex">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <h3>{{title}}</h3>
    </div>
  </div>

  <div *ngIf="!isLoadingImages">
    <div *ngFor="let row of imageSrcs" class="mb-3">
      <div class="row">
        <div class="col-md-2 div-image" *ngFor="let imageSrc of row; let i = index" (click)="navigateToPageByIndex(imageSrc.id)" style="cursor: pointer;">
          <img [src]="imageSrc.src" alt="Imagem" style="width: 100%;">
        </div>
      </div>
    </div>
  </div>

</div>

