<div class="container-fluid h-100 v-100">
  <div class="row h-100">
    <div class="col-md-8 d-flex justify-content-center align-items-center text-white no-padding">
      <div class="row" style="padding-bottom: 100px;">
      </div>
      <div class="row">
        <div class="container h-100">
          <div class="row">
            <h3>LENDOPS</h3>
          </div>
          <div class="row">
            <p>Da maneira que você quer</p>
          </div>

          <div class="row">
            <div class="justify-content-center align-items-center d-flex no-padding">
              <button class="btn btn-primary" (click)="navigateToPage('create-account', 'Cadastrar')">Cadastrar</button>
              <button class="btn btn-primary" (click)="navigateToPage('login-page', 'Login')">Entrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 bg-secondary d-flex justify-content-center align-items-center text-white no-padding custom-background">
      <img src="../../../assets/images/colagem.png" style="max-height: 90vh;">
    </div>

  </div>
</div>
