<div class="container-flex">
  <div class="row justify-content-end" style="padding-bottom: 1vh;">
  </div>
  <div class="row justify-content-end">
    <div class="col-lg-5 col-sm-5 d-inline-flex align-items-center ml-auto" style="height: 3vh;">
      <img src="../../../../assets/images/logo.png" alt="LendOps" i18n-alt style="max-height: 100%; max-width: 100px;">
      <p i18n class="p-footer ml-2 mb-0" style="max-height: 100%">LendOps</p>
      <p i18n class="p-footer ml-2 mb-0" style="font-size: 2vh;">Da maneira que você quer!</p>
    </div>
  </div>
</div>

