.login-container {
  width: 30vw;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

.login-div {
  background-color: purple;
  padding: 3vh;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: white; /* Letras brancas */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
  color: white; /* Letras brancas */
}

h2 {
  color: white;
}

.btn-limit {
  min-width: 100%;
}
